<div class="overlay">
  <div class="popup mt-5">
    <section class="container">
      <h2>{{ task.title }}</h2>
      <hr />
      <a (click)="OnCloseTaskDetail()" class="close" href="#">&times;</a>

      <div class="mb-3">
        <h6>Description:</h6>
        <p>{{ task.description }}</p>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <strong>Assigned To: </strong>
          {{ task.assignedTo }}
        </div>
        <div class="col-md-6 mb-3">
          <strong>Created At: </strong>
          20-10-2023
        </div>

        <div class="col-md-6 mb-3">
          <strong>Priority: </strong>
          High
        </div>
        <div class="col-md-6 mb-3">
          <strong>Current Status: </strong>
          In Progress
        </div>
      </div>
    </section>
  </div>
</div>
