<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>
        "I built a Task Management CRUD Application using Angular and Firebase.
        The app allows users to securely sign up and log in with Firebase
        Authentication, and manage tasks with full CRUD functionality via
        Firebase's Realtime Database or Firestore. The app uses lazy loading to
        optimize performance and child routes for organized navigation.
      </p>
    </div>
  </div>
</div>
